.container {
    padding: 0 1em;
}

.heading {
    padding: .5em 0;
    margin: 0;
}

.paragraph {
    margin: 0;
    line-height: 1.75rem;
    font-size: 1.1rem;
}

.padding_bottom {
    padding-bottom: 1em;
}

@media(min-width:992px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width:1200px) {
    .container {
        align-self: center;
        height: 100%;
    }
}