.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 0;
    padding-top: .5em;
}

.position {
    margin: 0;
    padding: .25 0 .5 0;
    color:#F3BF99;
    font-weight: 400;
}

.portfolio {
    text-decoration: none;
    color: #F5F5F5;
    font-size: .9rem;
    cursor: pointer;
}
.portfolio:hover, .portfolio:focus {
    font-weight: bold;
    font-size: 1.1rem;
}

.contact_container {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

span {
    padding-left: .25em;
}

.contact_box {
    border-radius: 5%;
    padding: .75em 1.5em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 20%;
    display: flex;
    justify-content: center;
}

.border {
    border: 1px solid #D1D5DB;

}

.email {
    background-color: #fff;
    color: #374151;
}

.linkedin {
    background: #5093E2;
    color: #FFF;
}

.contact_box:hover, .contact_box:focus {
    font-size: 1.1rem;
}

.head_shot {
    width: 100%;
    border-radius: 10%;
}

@media (min-width: 768px) {
    header {
        width: 47.5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .head_shot {
        height: 22.5%;
        padding-top: 1em;
    }

    .contact_container {
        align-items: flex-end;
        height: 5dvh;
    }
}

@media (min-width: 992px) {
    .head_shot {
        width: 60%;
        align-self: center;
        padding-top: 1em;
    }

    .title {
        padding: 1em 0;
    }
}